{% extends 'main/base.html' %}
{% load static %}
{% block title %}Nova Dev{% endblock %}

{% block content %}

<section class="hero is-fullheight main-bg-img">

    <div class="hero-body">
        <div class="container">
            <div class="columns is-full is-multiline">
                <div class="column has-text-left">
                    <h1 class="has-text-white has-text-weight-bold is-size-1-desktop is-size-1-tablet is-size-3-mobile is-uppercase">Comfort Engineered for you</h1>
                    <p class="mt-6 mb-6 has-text-white is-size-3-desktop">Expert HVAC Services Designed to Deliver Efficiency, Reliability, and Peace of Mind — Every Season, Every Home.</p>
                    
                </div>
                <div class="column is-full has-text-right">
                    <a href="" class="button red-bg has-text-white has-text-right has-text-weight-bold">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">

            <div class="columns is-vcentered">

                <div class="column has-text-centered">
                    <!-- info gird-->
                    <div class="grid-info mt-4 is-centered">
                        <i class="fa-solid fa-toolbox " ></i>
                        <div>
                            <h1 class="main-title dark-text is-size-4-mobile is-size-1-desktop is-uppercase has-text-weight-bold">7088</h1>
                            <p class="dark-text is-size-6-desktop has-text-weight-bold">Projects Completed</p>
                        </div>
                    </div>
                </div>

                <div class="column has-text-centered">

                    <!-- info gird-->
                    <div class="grid-info mt-4">
                        <i class="fa-solid fa-user" ></i>
                        <div>
                            <h1 class="main-title dark-text is-size-4-mobile is-size-1-desktop is-uppercase has-text-weight-bold">30+</h1>
                            <p class="dark-text is-size-6-desktop has-text-weight-bold">Team Membres</p>
                        </div>
                    </div>

                </div>

                <div class="column has-text-centered">

                    <!-- info gird-->
                    <div class="grid-info mt-4">
                        <i class="fa-solid fa-star"></i>
                        <div>
                            <h1 class="main-title dark-text is-size-4-mobile is-size-1-desktop is-uppercase has-text-weight-bold">1700+</h1>
                            <p class="dark-text is-size-6-desktop has-text-weight-bold">Satisfied Clients</p>
                        </div>
                    </div>

                </div>

                <div class="column has-text-centered">

                    <!-- info gird-->
                    <div class="grid-info mt-4">
                        <i class="fa-solid fa-building"></i>
                        <div>
                            <h1 class="dark-text has-text-dark is-size-4-mobile is-size-1-desktop is-uppercase has-text-weight-bold">17</h1>
                            <p class="dark-text is-size-6-desktop has-text-weight-bold">Total Branches</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="hero main-bg is-fullheight">
    <div class="hero-body">
        <div class="container">

            <div class="columns is-multiline is-vcentered">

                <div class="column is-12-mobile is-7-desktop has-text-left">
                    <h1 class="is-uppercase red-text is-size-6-desktop is-size-6-tablet is-size-7-mobile has-text-weight-bold">- welcome to our company</h1>
                    <h1 class="has-text-white is-size-1-desktop is-size-1-tablet is-size-3-mobile has-text-weight-bold">Air Conditioning Repair, Heating Repair & Installation Services in Your Locality</h1>
                    <p class="mt-5 mb-5 has-text-light">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p>
                    <div class="columns is-vcenterd is-centered is-mobile mt-5 mb-5 gap-0">
                        <div class="column">
                            <img src="{% static 'main/images/awards-1-2.png' %}" alt="" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="column">
                            <img src="{% static 'main/images/awards-2-3.png' %}" alt="" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="column">
                            <img src="{% static 'main/images/awards-3-1.png' %}" alt="" style="max-width: 100%; height: auto;">
                        </div>
                    </div>
                </div>

                <div class="column is-12-mobile is-5-desktop">
                    <div class="image-container" style="position: relative;">
                        <img src="{% static 'main/images/welcome-1.png' %}" alt="" style="width: 100%; display: block">
                        <img src="{% static 'main/images/welcome-1-shape-3.png' %}" alt="" style="position: absolute; top: 10px; left: 10px; width: 60%; /* Adjust size as needed */">
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>

<!--Services -->
<section class="hero bg-gray">
    <div class="hero-body">
        <div class="container">

            <div class="columns is-vcentered">
                <div class="column is-half has-text-left">
                    <h1 class="is-size-6-desktop is-size-6-tablet is-size-7-mobile red-text has-text-weight-bold is-uppercase">- our services</h1>
                    <h1 class="dark-text is-size-1-desktop is-size-1-tablet is-size-3-mobile has-text-weight-bold">What We Do</h1>
                </div>  
                <div class="column is-half has-text-left">
                    <p class="is-size-5-desktop is-size-5-tablet is-size-6-mobile">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward.</p>
                </div>
            </div>



            <div class="plans">

                <div class="plan-box">
                    <span class="fa-stack fa-2x">
                        <i class="fa-solid fa-circle fa-stack-2x has-text-grey-light"></i>
                        <i class="fa-solid fa-fan fa-stack-1x fa-inverse"></i>
                    </span>
                    <h1 class="mt-5 mb-5 has-text-weight-semibold is-size-4-desktop is-size-4-tablet is-size-6-mobile is-uppecase">AC repair</h1>
                    <p class="mb-5">Lorem Ipsum Dolor Sit Amete Consectetur Adipiscing get at the congues sceleris.</p>
                    <a href="" class="is-uppercase red-text has-text-weight-bold">Learn more ></a>
                </div>


                <div class="plan-box">
                    <span class="fa-stack fa-2x has-text-grey-light">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-house fa-stack-1x fa-inverse"></i>
                    </span>
                    <h1 class="mt-5 mb-5 has-text-weight-semibold is-size-4-desktop is-size-4-tablet is-size-6-mobile is-uppecase">indoor repair</h1>
                    <p class="mb-5">Lorem Ipsum Dolor Sit Amete Consectetur Adipiscing get at the congues sceleris.</p>
                    <a href="" class="is-uppercase red-text has-text-weight-bold">Learn more ></a>
                </div>

                <div class="plan-box">
                    <span class="fa-stack fa-2x has-text-grey-light">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-gear fa-stack-1x  fa-inverse"></i>
                    </span>
                    <h1 class="mt-5 mb-5 has-text-weight-semibold is-size-4-desktop is-size-4-tablet is-size-6-mobile is-uppecase">installation</h1>
                    <p class="mb-5">Lorem Ipsum Dolor Sit Amete Consectetur Adipiscing get at the congues sceleris.</p>
                    <a href="" class="is-uppercase red-text has-text-weight-bold">Learn more ></a>
                </div>

                <div class="plan-box">
                    <span class="fa-stack fa-2x has-text-grey-light">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-screwdriver-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h1 class="mt-5 mb-5 has-text-weight-semibold is-size-4-desktop is-size-4-tablet is-size-6-mobile is-uppecase">repairing</h1>
                    <p class="mb-5">Lorem Ipsum Dolor Sit Amete Consectetur Adipiscing get at the congues sceleris.</p>
                    <a href="" class="is-uppercase red-text has-text-weight-bold">Learn more ></a>
                </div>


            </div>

        </div>
    </div>
</section>

<section class="hero bg-gray">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-vcentered is-multiline">
                <div class="column is-full has-text-centered">
                    <h1 class="red-text is-size-6-desktop is-size-6-tablet is-size-7-mobile has-text-weight-bold is-uppercase">- we are experts -</h1>
                    <h1 class="dark-text is-size-1-desktop is-size-1-tablet is-size-3-mobile has-text-weight-bold">We Service All Makes & Models</h1>
                </div>
            </div>

            <div class="columns is-multiline is-mobile">
                <div class="column is-6-mobile is-3-desktop">
                    <figure class="image">
                        <img src="{% static 'main/images/brand-1-1.png' %}" alt="">
                    </figure>
                </div>
                <div class="column  is-6-mobile is-3-desktop">
                    <figure class="image">
                        <img src="{% static 'main/images/brand-1-3.png' %}" alt="">
                    </figure>
                </div>
                <div class="column  is-6-mobile is-3-desktop">
                    <figure class="image">
                        <img src="{% static 'main/images/brand-1-4.png' %}" alt="">
                    </figure>
                </div>
                <div class="column  is-6-mobile is-3-desktop">
                    <figure class="image">
                        <img src="{% static 'main/images/brand-1-5.png' %}" alt="">
                    </figure>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Free Quote-->
<section class="hero has-background">

    <div class="hero-background">
        <div class="bg-overlay"></div>
        <img src="{% static 'main/images/map-1.png' %}" alt="map">
    </div>


    <div class="hero-body">
        <div class="container">


            <div class="columns is-centered">
                <div class="column is-7-desktop is-12-mobile">

                    <h1 class="red-text is-size-6-desktop is-size-6-tablet is-size-7-mobile has-text-weight-bold is-uppercase">- testimonials</h1>
                    <h1 class="has-text-white is-size-1-desktop is-size-1-tabler is-size-3-mobile has-text-weight-bold">
                        What They're Talking About Us?
                    </h1>

                    <div class="columns is-vcentered mt-5">
                        <div class="column">
                            <div class="box" style="position: relative; padding-bottom: 2rem;">

                                <span class="icon" style="position: absolute; top: -1rem; left: 0.2rem; font-size: 1.5rem;">
                                    <i class="fas fa-quote-left red-text fa-2x"></i> 
                                </span>

                                <p class="has-text-left" style="margin-top: 1.5rem;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                    <br>
                                    Aliquam eu accumsan ex. Sed non diam quis ligula dapibus tincidunt.
                                  </p>

                                  <div style="position: absolute; bottom: 0; left: 20%; transform: translateX(-50%) translateY(50%); border-left: 1rem solid transparent; border-right: 1rem solid transparent; border-top: 1rem solid white;"></div>


                            </div>

                             <!-- Testimonial text-->
                             <div class="reviewer-info mt-4">
                                <figure class="image is-48x48 mr-3">
                                    <img src="{% static 'main/images/testimonial-02.jpg' %}" alt="agenez queen" class="is-rounded">
                                </figure>
                                <div>
                                    <h1 class="main-title has-text-white is-size-4-mobile is-size-4-desktop is-uppercase">agnex queen</h1>
                                    <p class="has-text-primary is-size-6-desktop">Designation</p>
                                </div>
                            </div>

                        </div>

                        <div class="column">
                            <div class="box" style="position: relative; padding-bottom: 2rem;">

                                <span class="icon" style="position: absolute; top: -1rem; left: 0.2rem; font-size: 1.5rem;">
                                    <i class="fas fa-quote-left red-text fa-2x"></i>
                                </span>

                                <p class="has-text-left" style="margin-top: 1.5rem;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                    <br>
                                    Aliquam eu accumsan ex. Sed non diam quis ligula dapibus tincidunt.
                                  </p>

                                <div style="position: absolute; bottom: 0; left: 20%; transform: translateX(-50%) translateY(50%); border-left: 1rem solid transparent; border-right: 1rem solid transparent; border-top: 1rem solid white;"></div>
                                

                            </div>

                             <!-- Testimonial text-->
                             <div class="reviewer-info mt-4">
                                <figure class="image is-48x48 mr-3">
                                    <img src="{% static 'main/images/testimonial-01.jpg' %}" alt="agenez queen" class="is-rounded">
                                </figure>
                                <div>
                                    <h1 class="main-title has-text-white is-size-4-mobile is-size-4-desktop is-uppercase">Brient adam</h1>
                                    <p class="has-text-primary is-size-6-desktop">Designation</p>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="column is-centered is-4-desktop is-12-mobile ">
                    <div class="box red-bg">

                        <div class="has-text-centered mb-5">
                            <h1 class="is-size-3-desktop is-size-3-tablet is-size-5-mobile has-text-white has-text-weight-bold">Get a Free Quote</h1>
                        <p class="has-text-white is-size-6-desktop is-size-6-tablet is-size-7-mobile">Or call one of our customer service experts</p>
                        </div>

                        
                        <div class="field">
                            <label class="label has-text-white">Name</label>
                            <div class="control">
                                <input name="name" type="text" class="input" placeholder="John Doe">
                            </div>
                        </div>

                        <div class="field">
                            <label  class="label has-text-white">Phone</label>
                            <div class="control has-icons-left">
                                <input name="phone" type="tel" class="input" placeholder="(919) 501-0343">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label has-text-white">Email</label>
                            <div class="control has-icons-left">
                                <input name="email" type="email" class="input" placeholder="example@nova.com">
                                <span class="icon is-small is-left">
                                    <div class="fas fa-envelope"></div>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label has-text-white">Serivce</label>
                            <div class="control">
                                <div class="select">
                                    <select name="service" id="service">
                                        <option value="installation">Installation</option>
                                        <option value="repair">Repair</option>
                                        <option value="mat">Maitenace</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label has-text-white">Message</label>
                            <div class="control">
                              <textarea class="textarea" placeholder="Textarea"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-text-white">
                                <button class="button second-bg has-text-white">Submit</button>
                            </div>
                        </div>
                          

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!--Blog -->
<section class="section bg-gray">
    <div class="container">

        <div class="columns is-centered is-vcentered">
            <div class="column is-three-fifths has-text-left">
                <h1 class="red-text is-size-6-desktop is-size-6-tablet is-size-7-mobile is-uppercase has-text-weight-bold">- Current Articals</h1>
                <h1 class="dark-text is-size-1-desktop is-size-1-tablet is-size-3-mobile has-text-weight-bold">Tips to Keep Your AC Running</h1>
            </div>
            <div class="column has-text-right">
                <div class="buttons is-right">
                    <a href="" class="button is-large-desktop is-small-mobile second-bg has-text-white has-text-weight-bold is-uppercase">view all blogs</a>
                </div>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">

                <figure class="image is-3by2 mt-5 mb-5">
                    <img src="{% static 'main/images/service-banner-02.jpg' %}" alt="" class="custom-rounded">
                </figure>

                <h1 class="mb-2 is-size-4-desktop is-size-4-tablet is-size-6-mobile has-text-weight-bold">Air Conditioner Cleaning</h1>
                <p class="mb-5 is-size-6-desktop is-size-6-tablet is-size-7-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                <a href="" class="red-text has-text-weight-bold is-size-6-desktop is-size-6-tablet is-size-7-mobile is-uppercase is-underlined">read more</a>
            </div>
            <div class="column">

                <figure class="image is-3by2 mt-5 mb-5">
                    <img src="{% static 'main/images/service-banner-05.jpg' %}" alt="" class="custom-rounded">
                    
                </figure>

                <h1 class="mb-2 is-size-4-desktop is-size-4-tablet is-size-6-mobile has-text-weight-bold">Heater Cleaning</h1>
                <p class="mb-5 is-size-6-desktop is-size-6-tablet is-size-7-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                <a href="" class="red-text has-text-weight-bold is-size-6-desktop is-size-6-tablet is-size-7-mobile is-uppercase is-underlined">read more</a>

            </div>
            <div class="column">

                <div class="box">
                    <div>
                        <h1 class="is-size-4-desktop is-size-4-tablet is-size-5-mobile has-text-weight-bold">How we can fix any problem in household things.</h1>
                        <h1 class="is-size-6-desktop is-size-6-tablet is-size-7-mobile has-text-weight-bold has-text-grey">28 January, 2023</h1>
                        <hr class="mt-4 mb-4" style="border-top: 1px solid #ccc; margin-top: 0.5rem;">
                        <h1 class="is-size-4-desktop is-size-4-tablet is-size-5-mobile has-text-weight-bold">It's never too late for furnace installation</h1>
                        <h1 class="is-size-6-desktop is-size-6-tablet is-size-7-mobile has-text-weight-bold has-text-grey">28 January, 2023</h1>
                        <hr class="mt-4 mb-4"  style="border-top: 1px solid #ccc; margin-top: 0.5rem;">
                        <h1 class="is-size-4-desktop is-size-4-tablet is-size-5-mobile has-text-weight-bold">How we can fix any problem in household things.</h1>
                        <h1 class="is-size-6-desktop is-size-6-tablet is-size-7-mobile has-text-weight-bold has-text-grey">28 January, 2023</h1>
                        <hr class="mt-4 mb-4" style="border-top: 1px solid #ccc; margin-top: 0.5rem;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}